header {
  @include box-shadow(0px, 5px, 5px, 0px, $primary);
  position: fixed;
  width: 100%;
  background: url("../../assets/images/header.jpg");
  background-position-x: center;
  height: $header-height;
  z-index: 10;
  .navbar {
    justify-content: space-between;
    .hamburger {
      margin-top: 5px;
      svg {
        cursor: pointer;
        @include transition(all .2s);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .navbar-brand {
      width: 100px;
      a {
        font-weight: bold;
        text-decoration: none;
        font-size: 30px;
        color: $white;
        @include transition(all 0.5s);
        @include animation('neon 1.5s ease-in-out infinite alternate');
      }
    }
  }
}

.backdrop-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.7);
  z-index: 5;
}

@include keyframes(neon) {
  from {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 14px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 1.5px #fff, 0 0 2px #fff, 0 0 3.5px #ff00de, 0 0 5px #ff00de, 0 0 7px #ff00de, 0 0 9px #ff00de, 0 0 15px #ff00de;
  }
}