.order-options-header {
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
.order-options-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  label {
    margin: 3px;
  }
}