section.active-quiz-container {

  .question-indexes {
    align-items: center;
    .quiz-timer {
      display: flex;
      justify-content: flex-end;
      color: $primary;
      font-weight: bold;
      font-size: 20px;
    }
    button {
      margin-right: 10px;
    }
  }

  .question {
    position: absolute;
    width: calc(100% - 10px);
    padding: 1rem;
  }

  .answers {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .answer-hld {
    display: flex;
    align-items: flex-end;
    span {
      font-size: 28px;
      margin-right: 5px;
    }
    .answer {
      font-size: 20px;
      width: calc(90% - 5px);
      display: flex;
    }
  }
  .finished-container {
    padding: 1rem;
    margin-bottom: 20px;
  }

  .finished-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .response-container {
    padding: 1rem;
    div {
      font-size: 20px;
    }
    .success {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .results {
    padding: 1rem;
    .result {
      padding-bottom: 10px;
      border-bottom: 2px solid $secondary;
      &-question {
        margin-top: 5px;
        margin-bottom: 5px;
        span {
          font-size: 20px;
        }
      }
      &-answer {
        margin-left: 10px;
        span {
          margin-right: 15px;
        }
      }
    }
  }
}