section.quiz-creator-container {
  h2 {
    margin-top: 1rem;
  }
  .questions-indexes-container {
    button {
      font-size: 15px;
      font-weight: bold;
      margin-right: 5px;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .main-info-container {
    margin-bottom: 20px;
    padding: 10px;
  }
  .create-questions-container {
    margin-bottom: 20px;
    padding: 10px;
  }
  .complexity-buttons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
}
