
@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
  .jumbotron {
    .jumbotron-title {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  section.quiz-creator-container {
    h2 {
      font-size: 25px;
    }
  }
  .jumbotron {
    .jumbotron-title {
      h1 {
        font-size: 30px;
      }
      a {
        font-size: 13px;
      }
    }
  }

  header {
    .navbar {
      .navbar-brand {
        width: 70px;
      }
    }
  }

  .quizes-container {
    .card {
      .card-body {
        .card-title {
          .badge {
            font-size: 10px;
          }
        }
        .card-subtitle {
          flex-direction: column;
          span {
            width: 100%;
            margin-top: 5px;
          }
        }
        .questions-xs-hide {
          display: none;
        }
      }
    }
  }

  .order-options-header {
    h3 {
      font-size: 20px;
    }
  }

  .order-options-container {
    flex-direction: column;
    label {
      width: 100%;
      margin: 5px 0 5px 0;
    }
  }
}