//bootstrap
@import '_bootstrap/variables';
@import '~bootstrap/scss/bootstrap';
@import '_bootstrap/bootswatch';
//mixins
@import '_mixins/box-shadow';
@import '_mixins/transitions';
@import '_mixins/keyframes';
//pages
@import '_pages/quizes';
@import '_pages/profile';
@import '_pages/quiz-creator';
//components
@import '_components/header';
@import '_components/loader';
@import '_components/card';
@import '_components/orderOptions';
@import '_components/switcher';
@import '_components/sidebar';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  main{
    padding: 20px;
    section {
      padding-bottom: 100px;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.wrapper-bg {
  margin: 5px;
  background: #eee;
}

a {
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

.btn-big {
  padding: 10px;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 0px;
  .jumbotron-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
    }
  }
}

.input-group-prepend {
  button.btn {
    font-weight: normal;
  }
}

button.btn {
  font-weight: bold;
}



@import 'respo';
