//bootstrap
@import '_bootstrap/variables';
@import '~bootstrap/scss/bootstrap';
@import '_bootstrap/bootswatch';
//mixins
@import '_mixins/box-shadow';
@import '_mixins/transitions';
@import '_mixins/keyframes';
//pages
@import '_pages/quizes';
@import '_pages/profile';
@import '_pages/quiz-creator';
@import '_pages/activeQuiz';
//components
@import '_components/header';
@import '_components/loader';
@import '_components/card';
@import '_components/orderOptions';
@import '_components/switcher';
@import '_components/sidebar';
@import '_components/neon';
@import '_components/modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  main{
    padding: 20px;
    section {
      margin-top: $header-height;
      position: absolute;
      width: 100%;
      padding-bottom: 100px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.badge {
  @include transition(all .3s);
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.wrapper-bg {
  margin: 5px;
  background: $primary-dark;
}

.wrapper {
  margin: 5px;
}

a {
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}

.input-group-text {
  border: none;
}

input, textarea {
  border: none !important;
  color: $white !important;
  text-shadow: $neon-text-very-small;
  background-color: $primary-light !important;
}
input:focus, textarea:focus {
  color: $white !important;
}

small {
  color: $white;
  text-shadow: $neon-text-very-small;
}

.btn-big {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  width: 110px;
}

.btn-very-big {
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  width: 180px;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 20px;
  h1 {
    text-shadow: $neon-text-big;
    color: $white;
    font-weight: bold;
  }
  .buttons-jumbo-container {
    button:first-child {
      margin-right: 15px;
    }
  }
  .jumbotron-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
    }
  }
}

.input-group-prepend {
  button.btn {
    font-weight: normal;
  }
}

button.btn {
  font-weight: bold;
}



@import 'respo';
